<footer>
<h1>Nos partenaires </h1>
           <table class="table table-hover">
    <tfooter>
        <tr class="table-warning">
            {% for partner in partners %}
                <td>{{ partner.nomEntreprise }}</td>
                <td>
                    <a href="{{ partner.websiteUrl }}">
                        <img src="{{ asset('images/' ~ partner.logo) }}" alt="Logo de {{ partner.nomEntreprise }}" width="150" height="150">
                    </a>
                </td>
            {% endfor %}
        </tr>
    </tfooter>
</table>
    

    {# Autres éléments du footer #}
</footer>