 
 {% block stylesheets %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
    <style>
        /* Vos styles existants ici */
        #maCarte {
            height: 150px;
            width: 100%;
        }

       
    </style>
{% endblock %}
 
 
 <h2>Localisation du siège de la société</h2>
            <p>Avenue de l'Astronimie, 19 , St Josse</p>

        <div id="maCarte"></div>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
                crossorigin=""></script>
        <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
        <script>
            var villes = {
                "Bruxelles": {"lat":50.85160,"lon":4.36957},
                "Liège": {"lat":50.8503,"lon":5.7195},
                "Anvers": {"lat":51.2194,"lon":4.4025},
                "Gand": {"lat":51.0543,"lon":3.7174},
            };

            var tableauMarqueurs = [];

            // On initialise la carte
            var carte = L.map('maCarte').setView([50.85160, 4.36957], 13);

            // On charge les tuiles
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                minZoom: 1,
                maxZoom: 20,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(carte);

            var marqueurs = L.markerClusterGroup();

            // On parcourt les différentes villes
            for(ville in villes){
                // On crée le marker et on lui attribue une popup
                var marqueur = L.marker([villes[ville].lat, villes[ville].lon]);
                marqueur.bindPopup("<p>"+ville+"</p>");
                marqueurs.addLayer(marqueur);
          
                // On ajoute le marqueur au tableau
                tableauMarqueurs.push(marqueur);
            }

            // On regroupe les marqueurs dans un groupe leaflet
            var groupe = new L.featureGroup(tableauMarqueurs);

            // On adapte le zoom au groupe 
            carte.fitBounds(groupe.getBounds());

            carte.addLayer(marqueurs);
        </script>
