{% extends 'base.html.twig' %}

{% block title %}Partner index{% endblock %}

{% block body %}
    <h1>Nos partenaires </h1>

    <table class="table">
      <table class="table">
    <tbody>
        <tr>
            {% for partner in partners %}
                <td>{{ partner.nomEntreprise }}</td>
                <td>
                    <a href="{{ partner.websiteUrl }}">
                        <img src="{{ asset('images/' ~ partner.logo) }}" alt="Logo de {{ partner.nomEntreprise }}" width="150" height="150">
                    </a>
                </td>
            {% endfor %}
        </tr>
    </tbody>
</table>

    </table>

{% endblock %}
