{% if is_granted('ROLE_ADMIN') %}
<form method="post" action="{{ path('app_departement_delete', {'id': departement.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce département ?');" class="d-inline">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ departement.id) }}">
	<button class="btn btn-danger btn-sm fw-bold" title="Supprimer">
		<i class="bi bi-trash"></i> Supprimer
	</button>
</form>
{% endif %}

