{{ form_start(form, { attr: { 'data-controller': 'departement-form' } }) }}

{{ form_row(form.deptName, {
  attr: {
    class: 'form-control mb-3',
    'data-departement-form-target': 'input',
    'data-action': 'change->departement-form#showAlert'
  }
}) }}

<button class="btn btn-success mt-2">
	<button class="btn btn-success mt-2">{{ button_label|default('Enregistrer') }}</button>
	{{ form_end(form) }}
