{% extends 'base.html.twig' %}

{% block title %}Mission index{% endblock %}

{% block body %}
    


    
        <h1> Liste des missions</h1>
        <ul>
        {% for mission in missions %}
     
           
                <li>{{ mission.description }}</li>

          
        {% endfor %}
    
        </ul>
     

{% endblock %}
