{% extends 'base.html.twig' %}

{% block title %}Employee
{% endblock %}

{% block body %}



{# Affiche les départements associés à l'employé #}
{% if departments is not empty %}
    <h2>Départements courants</h2>
    <ul>
        {% for dept in departments %}
            <li>{{ dept.deptName }} ({{ dept.deptNo }})</li> {# Remplacez 'name' et 'id' par les propriétés appropriées #}
        {% endfor %}
    </ul>
{% else %}
    <p>Aucun département n'est actuellement associé à cet employé.</p>
{% endif %}

{% endblock %}
