<form method="post" action="{{ path('app_dept_manager_delete', {'id': dept_manager.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dept_manager.id) }}">
    <button class="btn">Delete</button>
</form>
